<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>All Users</h1>
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through create rows for each user -->
        <% for( let index = 0; index < users.length; index++ ) { %>
        <tr>
          <td><%= users[index].id %></td>
          <td><%= users[index].firstname %></td>
          <td><%= users[index].lastname %></td>
          <td><a href="users/<%= index + 1%>"><%= users[index].email %></a></td>
          <!-- <td><%= users[index].password %></td> -->
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
